[Desktop Entry]
Name=NixBucks
Exec=org.margual56.NixBucks
Type=Application
Icon=org.margual56.NixBucks
Categories=Utility;Economy;Finance;Office;Business;Budgeting;
